body
{
  background-color: #e3f2fd;
  color: black;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
  color: green;
}

form
{
  margin: 2em 0;
}




button
{
  font-size: 1em;
  padding: 0.5em;
}


button:hover
{
  background-color: #1976d2;
  color: white;
}

input
{
  font-size: 1em;
  padding: 0.5em;
}

.last
{
  margin-top: 2em;
}
